[user]
        name = Aiandrox
        email = aiandrox7@gmail.com
[color]
        ui = true
[help]
        autocorrect = 1
[core]
        excludesfile = /Users/k_end/.gitignore_global
        editor = vim -c \"set fenc=utf-8\"
[commit]
        gpgsign = false
[gpg]
        program = gpg
        root = ~/src
[alias]
	delete = branch -d
	dev = switch develop
	ca = commit --amend
	sw = switch
	pp = push origin HEAD
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1..origin/HEAD | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
	fpull = !git fetch origin `git cbran` && git reset --hard origin/`git cbran`
	cbran = rev-parse --abbrev-ref HEAD # カレントブランチ名を取得
	dmb = !git branch --merged | grep -vE '^\\*|master$|develop$|sandbox$' | xargs -I % git branch -d %
	back = reset --soft HEAD~
